<!DOCTYPE html>
<html>
	<head>
		<title>Cloud</title>
		<!-- SCRIPTS -->
		<script src="{{ asset('bundles/cloud/js/jquery-2.1.1.min.js')}}"></script>
		<script src="{{ asset('bundles/cloud/js/main.js')}}"></script>
		<script src="{{ asset('bundles/cloud/js/forms.js')}}"></script>
		<script src="{{ asset('bundles/cloud/js/content.js')}}"></script>
		<script src="{{ asset('bundles/cloud/js/jquery.qtip.min.js')}}"></script>
		<script src="{{ asset('bundles/cloud/js/imagesloaded.pkg.min.js')}}"></script>

		<!-- STYLESHEETS -->
		<link href="{{ asset('bundles/cloud/css/style.css') }}" rel="stylesheet" />
		<link rel="icon" type="icon/ico" href="{{ asset('favicon.ico') }}">
	</head>

	<body>
		<div class="main-ui">
			<!-- HEADER -->
			{{ include('header.html.twig') }}

			<!-- CONTENT -->
			<div class="middle">
				<!-- MESSAGE PANEL -->
				{{ include('message.html.twig') }}

				<!-- SEARCH PANEL	 -->
				{{ include('search.html.twig') }}

				<!-- CONNECTION PANEL -->
				{{ include('connection.html.twig') }}

				<!-- CONTENU -->
				{{ include('content.html.twig') }}
			</div>

			<!-- FOOTER -->
			{{ include('footer.html.twig') }}
		</div>
	</body>
</html>
